@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .myBackground {
    background-image: url("./assets/asset5.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .serviceImg {
    background-image: url("./assets/asset12.jpeg");
    background-repeat: no-repeat;
    /* background-size: cover;   */
    background-position: center;
  }

  .serviceImg2 {
    background-image: url("./assets/pdf.jpeg");
    background-repeat: no-repeat;
    /* background-size: cover; */

    background-position: center;
  }

  .appsImg {
    background-image: url("./assets/asset16.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .myGradient {
    background-image: linear-gradient(to bottom, #d689ec,
        #e12dba);
  }

  .myGradient2 {
    background-image: linear-gradient(to top left, #ab00fa,
        #ff1900);
  }

  .summitImg {
    background-image: url("./assets/asset19.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -55px;
  }

  .myGradient3 {
    background-image: linear-gradient(to left, #02cf06,
        #09b1d3);
  }

  .glasseffect {
    backdrop-filter: blur(38px);
    --webkit-backdrop-filter: blur(38px);
    --moz-backdrop-filter: blur(38px);
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 30px;
    border: 2px solid white;
    /* border: 1px solid rgba(255, 255, 255, 0.25); */
  }


}